{%extends 'blocking.html'%}
{%block title%}all employees{%endblock%}
{%block content%}


{%for e in emp%}
<div class="flex flex-col justify-center items-center">
    <div class="flex flex-col md:flex-row px-10 py-10 rounded-lg bg-indigo-200 border-2 border-indigo-400 gap-5">
        <div>
            <img class="rounded-lg" width="260px" src="/media/{{e.image}}" alt="Employee">
        </div>
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-4xl font-bold text-slate-900">{{e.name}}</h1>
            <p class="text-slate-800 font-semibold">ID: {{e.id}}</p>
            <p class="text-slate-800 font-semibold">DESIGNATION: {{e.designation}}</p>
            <p class="text-slate-800 font-semibold">QUALIFICATION: {{e.qualification}}</p>
            <div class="mt-5 flex flex-row gap-2">
                <a href="/employeeManager/update/{{e.id}}"><button class="text-sm bg-indigo-600 px-4 py-3 text-slate-300 rounded-lg hover:bg-indigo-500 transition duration-300">Edit</button></a>
                <a href="/employeeManager/rem/{{e.id}}"><button class="text-sm bg-slate-600 px-4 py-3 text-slate-300 rounded-lg hover:bg-slate-500 transition duration-300">Remove</button></a>
            </div>
        </div>
    </div>
    
</div>
{%endfor%}
{%endblock%}